body{
  background-color: #eee;
}

a{
  margin: 10px;
  text-decoration: none;
  color: #000000;
}

.type{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #FFD93D;
}

.verify{
  margin: 5px;
  margin-left: 200px;
}
