#center{
    margin: 7% 0%;
}
#footer{
    position: relative;
    top: 11%;
    
}

#button1{
     width: 100%;


}
#google{
    height: auto;
    width: 5%;
    margin-left: 1%;
}
#logo{
    height: auto;
    width: 85%;
}
#togglePassword{

    cursor: pointer;
    z-index: 2;
    margin-left: -33px;
    font-size: 1.2rem;
}



